.display_applicant{
    width: 50%;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px 20px;
    background-color: white;

}

.applicant-details{
    display: inline-block;
}

.uploaded_image{
    position: relative;
    display: inline-block;
    height: 32vmin;
    float: right;
    padding: 20px;
}

.uploaded_image > img{
    width: 100%;
    height: 100%;
}

.message{
    text-align: center;
}

.pd-10{
    padding: 10px 0px;
}

.span{
    color: #707070;
    font-size: 1.1vw;
}