.card{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card_header{
    width: auto;
    padding: 20px 20px;
    display: flex;
    background-color: #000000;
    color: white;
}

.job-title{
    flex: 1;
}

.company-logo{
    width: 40px;
    height: 40px;
}

.company-logo > img{
    width: 100%;
    height: 100%;
}

.card-body{
    padding: 10px 20px;
    display: flex;
    flex-flow: column;
    background-color: #484848;
    color: white;
}

.card_description{
    padding: 20px 20px;
    display: flex;
    flex-flow: row;
}

.apply_btn{
    text-align: right;
}

.job_description{
    padding: 20px;
}

.job_location{
    flex: 0.3;
}

.fl-3{
    flex: 0.3;
}

.btn_submit{
    border: none;
    padding: 10px 40px;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.job_footer{
    padding: 20px 20px;
    background-color: #f1f1f1;
}

.btn_submit:hover {
    cursor: pointer;
}